<template>
    <q-page class="news-list">
        <q-card class="news-content">
            <q-tabs
                v-model="tab"
                dense
                class="text-grey"
                active-color="primary"
                indicator-color="primary"
                align="justify"
                narrow-indicator
            >
                <q-tab
                    v-for="(config, nameKey) of NewsConfigList"
                    v-bind:key="`tab${nameKey}`"
                    :name="config.name"
                    :label="config.name"
                    @click="() => loadTab(config)"
                />
            </q-tabs>

            <q-separator />

            <q-tab-panels v-model="tab" animated>
                <q-tab-panel
                    v-for="(config, index) of NewsConfigList"
                    v-bind:key="`tabContent${index}`"
                    :name="config.name"
                >
                    <div class="text-h6">{{config.name}}</div>
                    <q-inner-loading :showing="newsCollection[config.name] === null">
                        <q-spinner-gears size="50px" color="primary" />
                    </q-inner-loading>
                    <q-list bordered separator>
                        <q-item
                            clickable
                            v-ripple
                            v-for="(title, index) of newsCollection[config.name]"
                            v-bind:key="`item${config.name}${index}`"
                            @click="() => $q.electron.shell.openExternal(title.url)"
                        >
                            <q-item-section>
                                <q-item-label overline>{{title.title}}</q-item-label>
                                <q-item-label>{{title.secondaryText}}</q-item-label>
                            </q-item-section>
                        </q-item>
                    </q-list>
                </q-tab-panel>
            </q-tab-panels>
        </q-card>
    </q-page>
</template>

<script lang="ts">
import Vue from "vue";

import { Todo, Meta } from "components/models";
import { ipcRenderer, shell } from "electron";
import { NewsTitle } from "../app/scraper/scraper";
import { NewsTitleCollection } from "../store/NewsConfig/NewsConfigTypes";
import { NewsConfig } from "../app/scraper/configs/configs";

export default Vue.extend({
    name: "PageIndex",
    data() {
        const newsCollection: NewsTitleCollection = {};
        const tab = "";
        return { newsCollection, tab };
    },
    methods: {
        async getTitles() {},
        openLink(url: string) {
            shell.openExternal(url);
        },
        async loadTab(config: NewsConfig) {
            this.newsCollection = {
                [config.name]: null
            };
            const allTitles: NewsTitleCollection = await this.$store.dispatch(
                "NewsConfig/getNewsTitle",
                config
            );
            this.newsCollection[config.name] = allTitles[config.name];
            console.log(allTitles);
        }
    },
    mounted() {
        // this.getTitles();
    },
    computed: {
        NewsConfigList(): NewsConfig[] {
            return this.$store.getters["NewsConfig/getActiveConfigs"];
        }
    }
});
</script>

<style lang="scss" scoped>
.news-list {
    display: flex;
    flex-wrap: wrap;
}
.news-item {
    margin: 10px;
    cursor: pointer;
}
.news-item-image {
    transition: all 0.2s ease;
    &:hover {
        transform: scale(2, 2);
        z-index: 1000;
    }
}
.news-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
</style>